<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="profile-card">
        <app-user-details *ngIf="user" class="mat-card-content" [user]="user"></app-user-details>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>


</div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="profile" *ngIf="isLog; then logged; else firsttime">

  </div>
</div>

<ng-template #firsttime>

</ng-template>

<ng-template #logged>
<mat-card *ngIf="user">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Information">
      <form style="text-align: center"
            [formGroup]="informationFormGroup"
            name="form"
            (ngSubmit)="f.form.valid"
            #f="ngForm"
            novalidate>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="birthDate"  name="birthDate" type="date"placeholder="Birth Date" >
            <mat-error *ngIf="informationFormGroup.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="facebookId" name="facebookId" type="text"placeholder="ID Facebook" >
          </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="twitterId" name="twitterId" type="text" placeholder="ID Twitter" >
          </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="instagramId" name="instagramId" type="text" placeholder="ID Instagram" >
          </mat-form-field>
          <button mat-raised-button color="accent" *ngIf ="informationFormGroup.dirty" (click)="onSubmitInformation()" class="btn-block">Submit</button>
        </mat-card-content>

      </form>
    </mat-tab>
    <mat-tab label="Profil Preferences">
    </mat-tab>
    <mat-tab label="Address and Delivery">
      <app-addresses (addressRemoved)="onRemovedAddress()" *ngFor="let address of addresses" [address]="address" ></app-addresses>
      <button mat-raised-button color="accent"  (click)="onClickNewAddress()" class="btn-block">Add new address</button>
      <app-new-address (newAddress)="onNewAddress()" *ngIf="newAddressComponentShown"></app-new-address>
    </mat-tab>

    <mat-tab label="History">
    </mat-tab>

  </mat-tab-group>

</mat-card>
</ng-template>
