<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="profile-card">


        <img  mat-card-sm-image src="https://w7.pngwing.com/pngs/984/50/png-transparent-pokxe9mon-go-pokxe9mon-battle-revolution-ico-icon-red-sprites-eggs-text-pet-logo.png">
        <app-user-details class="mat-card-content" [user]="userdata"></app-user-details>


    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="profile" *ngIf="isLog; then logged; else firsttime">

  </div>
</div>

<ng-template #firsttime>

</ng-template>

<ng-template #logged>
<mat-card>
  <mat-tab-group>
    <mat-tab label="Information">
    </mat-tab>
    <mat-tab label="Profil Preferences">
    </mat-tab>
    <mat-tab label="Address and Delivery">
    </mat-tab>

  </mat-tab-group>

</mat-card>
</ng-template>
