.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.twitter-hashtag-button {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 12px 1px 12px;
  background-color: #1d9bf0;
  color: #fff;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
}

.dashboard-card-content {
  text-align: center;

}

ngx-twitter-timeline{
  max-height: inherit;
}
