<mat-grid-list cols="4" rowHeight="300px" gutterSize="10px">
  <mat-grid-tile
      *ngFor="let artwork of artworks; let i=index"
      [colspan]="tiles[i].cols"
      [rowspan]="tiles[i].rows"
      [style.background]="tiles[i].color"
      [ngStyle]="{'background-image': 'url(' + tiles[i].background + ')',
                  'background-position': 'center',
                  'background-size' : 'cover;'}"
      (mouseenter) ="hoveredTile(tiles[i])"
      (mouseleave) ="hoveredTile(tiles[i])"
      (click)="redirectToArtwork(artwork.id)">

      <mat-grid-tile-header *ngIf="tiles[i].isShown">
        <div>
          <h2>{{artwork.title}} by {{artwork.creator}}</h2>
        </div>
        <div>
          {{artwork.description}}
        </div>
      </mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>