@import '~@angular/material/theming';
@use '~@angular/material' as mat;
@include mat-core();

$primary: mat.define-palette($mat-blue,200);
$accent: mat.define-palette($mat-orange,200);

$theme: mat.define-light-theme($primary, $accent);

@include angular-material-theme($theme);
